body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
.stuff {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.header {
    display: flex;
    
    background-color: #1f2937;
    justify-content: space-between;
    margin-bottom: 20px;
}
.left {
 font-weight: bold;
 font-size: 18px;
 padding: 0;
 
}
.right {
    display: flex;
    gap: 12px;
}
ul {
    list-style: none;
    text-decoration: none;
}
a {
   text-decoration: none;
   color: white;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #1f2937;
    padding: 30px;
}
img {
    height: 150px;
    width: 150px;
}
.hero {
     align-items: center;
    display: flex;
    
    justify-content: space-between;
    gap: 50px;
    
    
}
.text {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 15px;
}
.button1 {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    display: flex;
    width: 100px;
    padding: 8px;
    justify-content: center;
    border: none;
    border-radius: 10px;
}
.big {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}
.subtext {
    font-size: 18px;
    color: #E5E7EB;
}
.container2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 40px;
}
.top {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
}
.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.box {
    width: 100px;
    height: 100px;
    outline: 2px solid #3882F6;
    border-radius: 20%;
}


.container3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    align-content: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 50px;
}
.block {
    width: 600px;
    display: flex;
    flex-direction: column;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.name {
    display: flex;
    justify-content: end;
}
.container4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 40px;
}
.sign{
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 50%;
    border-radius: 10px;
}
.call {
  color:#F9FAF8;
  font-weight: bold; 
}
.signup {
    color: #F9FAF8;
    font-size: 12px;
}
.button2 {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    display: flex;
    width: 100px;
    padding: 8px;
    justify-content: center;
    border-color: white;
    border-radius: 10px;
}

.footer {
    display: flex;
    padding: 30px;
    background-color: #1f2937;
    width: 100%;
    justify-content: center;
}
.copyright {
    color:#F9FAF8;
    font-size: 12px;
}
/* { 
    outline: 1px solid red;
    outline-offset: -1px;
  }